{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>RecipesApp Home</title>
  <link rel="shortcut icon" href="{% static 'recipes/images/favicon-32x32.png' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/success-logout.css' %}">
</head>

<body>
  <div class="overlay"></div>
  <div class="logo">
    <img src="{% static 'recipes/images/favicon-32x32.png' %}" alt="Logo">
    <span class="logo-text">MyRecipes</span>
  </div>
  <div class="container logout-container">
    <h3><span class="logout-message">You have been successfully logged out. Thank you for using our recipe app!</h3></span>
    <a href="{% url 'login' %}" class="my-login-button">Login again</a>
    <div class="slogan">
      <h3>Find Happiness In Cooking</h3>
    </div>
  </div>
</body>

</html>